*{
    margin: 0;
}
body{
    background: rgb(103, 216, 252, 0.7);
    height: 92.4vh;
}
.producto{
    width: 35%;
     height: 100%;
    background: #8b8888;
}
.imagen{
    position:fixed;
    left: 7%;
    top: 25%;
    width: 21%;
    height: 40%;
    border-radius: 50%;
}
.texto{
    position: fixed;
    left: 13%;
    top: 70%;
    padding: 1%;
    background: #64646473;
    border-radius: 10px;
    font-size: 3em;
    z-index: 1;
    margin-top:65px;
}
.info{
    background-color: transparent;
    font-size: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
}