*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: auto;
    background-image: url(IMG/aero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% start;
    margin: 0;
    padding: 0;
}
.Renew{
    display: flex;   
    justify-content: center;
    align-items: center;
}
#renewgen{
    width: 60%;
}

/* Footer CSS */

footer {
    width: 100vw;
    position: relative;
    height: auto;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.7);

}

footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-items: center;
}

footer .container .sec h2 {
    position: relative;
    color: #333;
    font-weight: 600px;
    margin-bottom: 10px;
}

footer .container .sec p {
    color: #555;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .container .sci li {
    list-style: none;
}

footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer .container .sci li a i {
    color: #fff;
    font-size: 20px;
}

footer .container .quicklinks {
    position: relative;
}

footer .container .quicklinks ul li {
    list-style: none;
}

footer .container .quicklinks ul li a {
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .container .contacto .info {
    position: relative;
}

footer .container .contacto .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contacto .info li span {
    color: #555;
    font-size: 20px;
}

footer .container .contacto .info li a {
    color: #555;
    text-decoration: none;
}

.copy {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 991px) {
    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 768px) {
    footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}
