*{
    margin: 0;
}
body{
    background: rgb(103, 216, 252, 0.7);
    height: 92.4vh;
}
.volver{
    margin: 0.5%;
    width: 7%;
    height: 5%;
    background: #8e8b8bdb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.deco{
    position: absolute;
    background: #8c8c8c;
    bottom: 0;
    width: 100%;
    height: 35%;
    bottom: 0;
}
.info{
    width: 40%;
    height: 62%;
    background: transparent;
    position: fixed;
    left: 55%;
    top: 32%;
    z-index: 1;
    font-size: 23px;
}
.imagen{
    position: fixed;
    width: 30%;
    height: 55%;
    left: 12%;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}
.contacto{
    position: fixed;
    width: 7%;
    height: 5%;
    background: #6e6b6bc7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    left: 24%;
    bottom: 10%;
    z-index: 1;
    ;
}
.img{
    width:45vh;
    height: 45vh;
    left: 12%;
    top: 25%;
}