*{
    margin: 0;
    padding: 0;
}
nav {
    display: grid;
    align-items: center;
    height: 100px;
    background: linear-gradient(rgba(89, 211, 250, 0.7), rgba(255, 255, 255, 0.35));
    width: 100%;
}

nav img {
    position: absolute;
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}
.botones {
    display: flex;
    top: 10px;
    gap: 10px;
    flex-direction: row;
    padding: 0;
}

.botones li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15%;
    height: 70px;
    background: #59D3FA;
    border-radius: 8px;
    position: relative;
}

.botones li a {
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    text-decoration: none;
}
.botones li:first-child {
    margin-left: 20%;
}
#Logo{
    width: 70px;
    margin-top: 0.3%;
}
.log{
    background: #5c5959;
    width: 32%;
    height: 70%;
    border-radius: 1cm;
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.nueva{
    background: #2c2b2b;
    width: 60%;
    height: 50%;
    border-radius: 1cm;
    position: fixed;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
h1{
    font-size: 3em;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
section .row{
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}
i{
    color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}
i:hover{
    transition: 0s;
    color: rgb(0, 235, 255);
    text-shadow: 0 0 120px rgb(0, 235, 255);
}
section .row div{
    font-size: 2em;
    white-space: nowrap;
    animation: animacion 80s linear infinite;
    animation-delay: -80s;
}
section .row div:nth-child(2){
    animation: animacion2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes animacion{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animacion2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}
@media only screen and (max-width: 600px) {
    .botones {
        justify-content: end;
        flex-wrap: wrap;
    }
    .log{
        top: 50%;
        left: 50%;
        height: 40%;
        width: 60%;
    }
    .nueva{
        display: none;
    }
    
    .botones li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .row div {
        flex-basis: 100%;
    }
}