* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #505F64;
}
.content{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mision{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    background-color: #5a3737;
    border-radius: 1em;
    padding: 10px;
}
p{
    font-size: 3em;
}
.pag {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 5em;
    margin-right: 10%;
    font-weight: bold;
  }
@media screen and (max-width: 767px) {
    .content {
        padding: 20px;
    }
    .mision {
        padding: 20px;
    }
    p {
        font-size: 1.5em;
    }
    .pag {
        font-size: 3em;
    }
}
