*{
    margin: 0;
}
body{
    background: rgb(103, 216, 252, 0.7);
    height: 92.4vh;
}
.acomodo{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
h1{
    font-size: 4em;
}
.deco{
    background: #8b8888;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
}
.imagenes{
    position:absolute;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    bottom: 10%;
}
.imagenes li{
    width: 15%;
    height: 48%;
    list-style: none;
    border-radius: 50%;
}
.deco ul{
    position:absolute;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    gap: 175px;
    justify-content: center;
    align-items: center;
}
.deco ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 10%;
    height: 30%;
    background: #747474;
}