nav {
    display: grid;
    align-items: center;
    height: 100px;
    background: linear-gradient(rgba(89, 211, 250, 0.7),rgba(255, 255, 255, 0.35));
    width: 100%;
}
nav img {
    position: absolute;
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}
.botones {
    display: flex;
    top: 10px;
    gap: 10px;
    flex-direction: row;
    padding: 0;
}
.botones li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15%;
    height: 70px;
    background: #59D3FA;
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
}
.botones li a {
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    text-decoration: none;
}
.botones li:last-child {
    margin-left: auto;
    margin-right: 10px;
}
.botones li:first-child {
    margin-left: 20%;
}
#Logo{
    width: 70px;
    margin-top: 0.3%;
}
@media screen and (max-width: 767px) {
    nav {
        height: 80px;
    }
    nav img {
        width: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .botones li {
        height: 50px;
        width: 25%;
        height: 40px;
    }
    .botones li a {
        font-size: 0.9em;
    }
    #Logo {
        width: 50px;
        margin-top: 0.3%;
    }
}