*{
    margin: 0;
}
body{
    background: rgb(103, 216, 252, 0.7);
}
nav {
    display: grid;
    align-items: center;
    height: 100px;
    background: linear-gradient(rgba(89, 211, 250, 0.7), rgba(255, 255, 255, 0.35));
    width: 100%;
}

nav img {
    position: absolute;
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.botones {
    display: flex;
    top: 10px;
    gap: 10px;
    flex-direction: row;
    padding: 0;
}

.botones li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15%;
    height: 70px;
    background: #59D3FA;
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
}

.botones li a {
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

.botones li:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.botones li:first-child {
    margin-left: 20%;
}

.botones li a {
    text-decoration: none;
}
.Renew{
    display: flex;   
    justify-content: center;
    align-items: center;
}
#Logo{
    width: 70px;
    margin-top: 0.3%;
}
h1{
    margin-bottom: 70px;
    font-size: 2.5em;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    height: 92.4vh;
    background: #fff;
}
.map{
    padding: 1%;
    position: fixed;
    height: 87vh;
    left: 52%;
    
}
#mapa{
    width: 35%;
    object-fit: contain;
}