*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(89, 211, 250)
}
nav {
    display: grid;
    align-items: center;
    height: 100px;
    background: linear-gradient(rgba(89, 211, 250, 0.7),rgba(255, 255, 255, 0.35));
    width: 100%;
}

nav img {
    position: absolute;
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.botones {
    display: flex;
    top: 10px;
    gap: 10px;
    flex-direction: row;
    padding: 0;
}

.botones li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15%;
    height: 70px;
    background: #59D3FA;
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
}

.botones li a {
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}
.botones li:last-child {
    margin-left: auto;
    margin-right: 10px;
}
.botones li:first-child {
    margin-left: 20%;
}

.botones li a {
    text-decoration: none;
}
#Logo{
    width: 70px;
    margin-top: 0.3%;
}
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9b9b9b;
    width: 35%;
    height: 92.4vh;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 5em;
    margin-right: 10%;
    font-weight: bold;
}
.mer{
    display: flex;
    flex-direction: row;
    background: #59D3FA;
    width: 65%;
}
.cosas{
    left: 40%;
    top: 56%;
    position:fixed;
    width: 20%;
    height: 40%;
    border-radius: 50%;
}
.texto{
    padding: 15px;
    left: 45%;
    top: 30%;
    position:fixed;
    background: #9b9b9b;
    border-radius: 10px;
    font-size: 4em;
}
.cosas2{
    left: 77%;
    top: 12%;
    position:fixed;
    width: 20%;
    height: 40%;
    border-radius: 50%;
}
.texto2{
    padding: 15px;
    left: 70%;
    top: 74%;
    position:fixed;
    background: #9b9b9b;
    border-radius: 10px;
    font-size: 4em;
}
