*{
    margin: 0;
}
body{
    background: rgb(103, 216, 252, 0.7);
    height: 92.4vh;
}
nav {
    display: grid;
    align-items: center;
    height: 100px;
    background: linear-gradient(rgba(89, 211, 250, 0.7),rgba(255, 255, 255, 0.35));
    width: 100%;
}

nav img {
    position: absolute;
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}

.botones {
    display: flex;
    top: 10px;
    gap: 10px;
    flex-direction: row;
    padding: 0;
}

.botones li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15%;
    height: 70px;
    background: #59D3FA;
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
}

.botones li a {
    color: black;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

.botones li:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.botones li:first-child {
    margin-left: 20%;
}

.botones li a {
    text-decoration: none;
}

#Logo{
    width: 70px;
    margin-top: 0.3%;
}
.volver{
    margin: 0.5%;
    width: 7%;
    height: 5%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.deco{
    position: absolute;
    background: #5c5959;
    bottom: 0;
    width: 100%;
    height: 35%;
    bottom: 0;
}
.info{
    width: 40%;
    height: 62%;
    background: #fff;
    position: fixed;
    left: 55%;
    top: 32%;
    z-index: 1;
}
.imagen{
    background: #fff;
    position: fixed;
    width: 30%;
    height: 55%;
    left: 12%;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}
.contacto{
    position: fixed;
    width: 7%;
    height: 5%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    left: 24%;
    bottom: 10%;
    z-index: 1;
    ;
}